:root{
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);
  --text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-select: hsl(207, 13%, 34%);
  --footer-background:  hsl(240, 10%, 16%);

  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);

  --very-dark-gray-blue:  hsl(237, 17%, 21%);
  --very-dark-des-blue:  hsl(237, 23%,  32%);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  font-size: 16px;
  font-family: 'Overpass', 'Ubuntu', sans-serif;
}

h1,h2, h3, h4, h5 ,h6{
  color: var(--headings);
}
img{
  width: 100%;
}

/*======Layout======*/
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-direction: column;
}

/*======Header======*/
header{
  background-color: transparent;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 9999;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
header nav #logo{
  width: 100px;
  z-index: 99999;
}
header nav #menu{
  background: none;
  margin-left: auto;
  border: none;
  z-index: 9999;
  cursor: pointer;
}

#navegacao{
  width: 100%;
  margin-top: 25px;
  background-color: #fff;
  transform: translateY(-100%);
  opacity: 0;
  z-index: 999;
  transition: all 300ms ease-in-out;
  padding: 25px;
  box-shadow: 0px 3px 4px var(--footer-text);
}
.open{
  transform: translateY(0%) !important;
  opacity: 1 !important;
  transition: all 300ms ease-in-out;
}

#navegacao ul{
  text-align: center;
}
#navegacao ul li{
  margin: 15px 0px;
}
#navegacao ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--very-dark-des-blue);
}
#navegacao ul li a img{
  width: 10px;
  margin-left: 5px;
  transition: all 300ms ease-in-out;
}
#navegacao ul li .dropdown{
  background-color:  rgba(204, 204, 204, 0.404);
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
}
#navegacao ul li .dropdown ul li a{
  color: var(--very-dark-des-blue);
}

#navegacao #buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--footer-text);
  margin-top: 15px;
}
#navegacao #buttons #login{
  margin-top: 15px;
}
#navegacao #buttons #sign{
  background: linear-gradient(90deg, var(--very-light-red)0%, var(--light-red)100%);
  padding: 10px 30px;
  border-radius: 50px;
  color: #fff;
  margin-top: 10px;
}

.girar{
  transform: rotate(180deg);
  transition: all 300ms ease-in-out;
}

#product, #company, #connect{
  display: none;
  transition: all 300ms ease-in-out;
}
.aparecer{
  display: block !important;
  transition: all 300ms ease-in-out;
}
.desktop{
  display: none;
}


/*======hero======*/
#hero{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 250;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    background:  url(./../img/bg-pattern-intro-mobile.svg), linear-gradient(90deg, var(--very-light-red)0%, var(--light-red)100%) ;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 0px 0px 0px 119px;
}
#hero .row{
  align-items: center;
  
}
#hero .row #cta-text{
  width: 100%;
  padding: 0px 15px;
}
#hero .row #cta-text h1{
  font-weight: 600;
  font-size: 1.5em;
  font-family: 'Overpass';
  color: #fff;
  text-align: center;
}
#hero .row #cta-text p{
  color: var(--footer-text);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 35px;
}
#hero .row #cta-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
#hero .row #cta-buttons .cta-btn{
  padding: 10px 25px;
  border-radius: 25px;
}

#hero .row #cta-buttons #start{
  background-color: #fff;
  color: var(--cta-text);
  border: 2px solid #fff;
  transition: all 300ms ease-in-out;
}
#hero .row #cta-buttons #learn{
  border: 2px solid #fff;
  color: #fff;
  transition: all 300ms ease-in-out;
}



/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) {
  header{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  header nav #menu{
    display: none;
  }
  
  #navegacao{
    display: flex;
    opacity: 1;
    width: calc(100% - 150px);
    background-color: transparent;
    transform: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    box-shadow: none;
  }

  #navegacao ul{
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
  } 
  #navegacao ul li{
    margin: 0px 10px;
  }
  #navegacao ul li a{
    color: #fff;
    transition: all 300ms ease-in-out;
  }
  #navegacao ul li a:hover{
    text-decoration: underline;
    transition: all 300ms ease-in-out;
  }

  #navegacao #buttons{
    width: 180px;
    border-top: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  #navegacao #buttons #login{
    margin-top: 0px;
    color: #fff;
  }

  #navegacao #buttons #sign{
    background: #fff;
    color: var(--cta-text);
    margin-top: 0px;
    transition: all 300ms ease-in-out;
  }
  #navegacao #buttons #sign:hover{
    background: var(--cta-hover);
    color: #fff;
    transition: all 300ms ease-in-out;
  }

  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }


  #navegacao ul li .dropdown{
    background: #fff;
    width: 200px;
    position: absolute;
  }
  #navegacao ul li .dropdown ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120px;
  }
  #navegacao ul li .dropdown ul li a:hover{
    color: #000;
    text-decoration: none;
  }


  /*======hero======*/
  #hero{
    background: url(./../img/bg-pattern-intro-desktop.svg), linear-gradient(90deg, var(--very-light-red)0%, var(--light-red)100%);
    background-position-x: -500px;
    background-position-y: center;
    background-size: 244%;
    height: 500px;
  }
  #hero .row #cta-text h1{
    font-size: 4em;
  }
  #hero .row #cta-text p{
    font-size: 1.5em;
  }


  #hero .row #cta-buttons #start:hover{
    background-color: var(--cta-hover);
    color: #fff;
    transition: all 300ms ease-in-out;
    border-color: var(--cta-hover);
  }
  #hero .row #cta-buttons #learn:hover{
    color: var(--cta-text);
    background-color: #fff;
    transition: all 300ms ease-in-out;
  }
}
